a           { text-decoration: none;  }
a:hover     { text-decoration: underline;  }
.ac         { text-align: center;  }
.al         { text-align: left;  }
.ar         { text-align: right;  }
.fl         { float: left;  }
.fr         { float: right;  }
.clear      { clear: both;  }
.overflow   { overflow: hidden;  }
.green_link { color: #6eb53e !important;  }
.semi_orange{ color: #908d22 !important;  }
.underline  { text-decoration: underline;  }
.black      { color: #53310d; font-weight: bold;  }
.hidden     { display: none;  }
.txt11px    {  font-size: 11px; }
.txt13px    {  font-size: 13px; }
img         { vertical-align: top;  }
body
{
    /*font-size: 12px;
    color: #555;
    font-family: arial; */
    background: none repeat scroll 0 0 #EAE6D9;
    color: #333333;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

#main
{
    background: none repeat scroll 0 0 #EAE6D9;
    margin: 0 auto;
    width: 1298px;
}
/********header**********/
.header
{
    /*background: url(..) repeat;*/
    background-color: #fff;   
    color: #fff;
    /*margin-top:20px;*/
}

/******body*****/
.body
{
    
}

/***footer******/
.footer
{
    background: url(..) repeat;
}

#header{
   /*background: none repeat scroll 0 0 gray;*/
   /*border: 1px dashed;*/
   /*height: 150px;*/
   width: 100%;
}

#bar-left{
    /*background: none repeat scroll 0 0 gray;*/
    /*border: 1px dashed;*/
    float: left;
    height: 741px;
    position: relative;
    width: 244px;

}

#bar-right{
    /*background: none repeat scroll 0 0 gray;*/
    /*border: 1px dashed;*/
    float: left;
    height: 741px;
    position: relative;
    width: 244px;

}
#container{
    float: left;
    height: 742px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    /*width: 970px;*/
    width: 810px;
}
#content{
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1300px;
}
#footer{
    /*background: none repeat scroll 0 0 gray;
    border: 1px dashed;*/
    /*height: 250px;*/
    width: 100%;
}
#footer table{
    background-color: #fff;
}
#info_product .panel_right {
    float: left;
    width: 450px;
    /*background: url("../images/bg-lightbox-left.jpg") no-repeat scroll transparent; */
}
#info_product .panel_left {
    float: left;
    width: 450px;
    /*background: url("../images/bg-lightbox-left.jpg") no-repeat scroll transparent;  */
}
#zoom1 img {
    height: 245px !important;
    position: relative;
    width: 270px !important;
}
#info_product .panel_left div .max_img {
    height: auto;
    margin: 55px auto 0;
    position: relative;
    width: 200px;
}
#info_product .panel_left .max_img {
    margin: 0 auto;
    text-align: center;
    width: 292px;
}
#containerFichaData {
    float: right;
    position: relative;
    text-align: left;
    width: 292px;
}
#containerFicha {

    height: auto;
    margin: 55px auto 0;
    padding: 0 28px 28px;
    position: relative;
    text-align: left;
    width: 286px;
}
#info_product .panel_left .other_images {
    margin-top: 46px;
    overflow: hidden;
}
#info_product .panel_left .other_images li {
    float: left;
    margin-right: 10px;
}
#info_product .panel_left .other_images li img {
    border: 1px solid #DAD6D2;
}
#content-lightbox{
    height: 400px;
    width: auto;
    /*background: url("../images/bg-lightbox-left.jpg") repeat-x scroll transparent;*/
    background-color: #fff;
}
#content-lightbox2{
    height: auto;
    width: auto;
}
#title_product{
    border: 1px dashed;
    color: black;
    font-family: Verdana, Arial,'Helvetica Neue',Helvetica,sans-serif;
    /*font-size: 24px;*/
    font-size: 11px;
    font-weight: bold;
}
#details{
    border: 1px dashed;
    height: 150px;
    width: 290px;
}
.panel_message{
    height: 150px;
    margin: 0 auto;
    width: 400px;
}
#content_buttons{
    height: 50px;
    margin: 38px auto 0;
    width: 300px;
}
.go_checkout{
    color: white;
    font-size: 10px;
    position: relative;
    right: -7px;
    text-align: left;
    top: 6px;
}
#info_product2{

}
.shopping-content{
    background: url("../images/bot-add.png") repeat scroll left top transparent;
    float: left;
    height: 25px;
    margin-right: 12px;
    overflow: hidden;
    width: 134px;
}
.checkout-content{
    background: url("../images/bot-add.png") repeat scroll left top transparent;
    float: left;
    height: 25px;
    margin-right: 12px;
    overflow: hidden;
    width: 134px;
}
#message_text{
    font-size: 14px;
    font-weight: bold;
    margin-top: 27px;
    text-align: center;
}
#addPedido{
    /*background: url("../images/bot-add.png") no-repeat scroll 0 0 transparent;*/
    /*float: left;
    height: 25px;
    margin-left: 0;
    padding-left: 5px;
    position: relative;
    text-align: left;
    width: 131px;*/
    background: none repeat scroll 0 0 #A39E43;
    border: 1px outset #999999;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    width: 73px;
    margin-left: 34px;
}
#add_to_cart{
    color:#ffffff;
}
#iframe-add{
    width: 450px;
    height: 300px;
}
#button-facebook{
    float: left;
    height: 25px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.facebook_comment  {
    float: left;
    margin-top: 30px;
    overflow-y: auto;
    position: relative;
}

.social_icons{
    overflow: hidden;
    position: relative;
    width: 300px;
}
.stButton .stLarge, .stButton .stLarge a{
    display: block !important;
    float: left !important;
    height: 30px !important;
    width: 30px !important;
}
.icos{
    margin-bottom: 20px;
    margin-top: 20px;
}
#printIcon{
    position: relative;
    top: -3px;
}
#comments {
    display: none;
    overflow: hidden;
}
.like{
    margin-top:15px;
}
#name-prod{
   font-size: 20px;
}
#price-prod{
    color: black;
    font-size: 23px;
}
#referencia{
    color: black;
    font-size: 10px;
    font-weight: bold;
}
#ref-prod{

}
#container{
    /*height:433px!important;*/
}
#details {
    /*background: url("../images/bg_addtocart_gradient.gif") repeat scroll 0 0 transparent;*/
    border: medium none !important;
    font-size: 11px;
    height: auto;
    width: 350px;
    margin-top: 17px;
    margin-bottom: 17px;

}
#title_product{
    border:none!important;
}
#title_product sup{
    color: black;
}

#containerFichaData {
    float: right;
    position: relative;
    text-align: left;
    width: 300px!important;
}
.shopping-content a{
    float: left;
    font-size: 9px;
    left: 17px;
    text-align: left;
    top: 6px;
}
.checkout-content a{
    float: left;
    font-size: 9px;
    left: 25px;
    text-align: left;
    top: 6px;
}

#introduction p{
    font-size: 11px;
    font-weight: bold;
    padding-right: 30px;
    font-family: Verdana,Arial,Verdana,Helvetica,sans-serif;
}
#addPedido a{
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 11px;
    left: 21px;
    /*position: relative;*/
    text-decoration: none;

}
.fb_edge_widget_with_comment {
    margin-bottom: 15px;
    position: relative;
}
.error{
       left: 81px;
       position: relative;
}
.error a{
    left: 15px;
}

/* Celebrating Home */

table.header {
    padding: 10px 10px;
}

a.icon-fb {
    background-image: url("../images/icon-fb-off.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 32px;
    padding: 5px 0 5px 5px;
    width: 32px;
}

a.icon-fb:hover {
    background-image: url("../images/icon-fb-on.gif");
}

a.icon-twtr {
    background-image: url("../images/icon-twtr-off.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 32px;
    padding: 5px 0 5px 5px;
    width: 33px;
}

a.icon-twtr:hover {
    background-image: url("../images/icon-twtr-on.gif");
}

a.icon-yt {
    background-image: url("../images/icon-yt-off.gif");
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 32px;
    padding: 5px 0 5px 5px;
    width: 32px;
}

a.icon-yt:hover {
    background-image: url("../images/icon-yt-on.gif");
}

.topleftnav {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
}

.topusernames {
    color: #5B4423;
    font-size: 12px;
    text-align: left;
}

.buttonbgs2 {
    background: none repeat scroll 0 0 #CC0000;
    border: 1px outset #999999;
    color: #E8E8E8;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
    text-decoration: none;
}

a.topnav:link, a.topnav:active, a.topnav:visited {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
}

a.footernav:link, a.footernav:active, a.footernav:visited {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    text-decoration: none;
}

a.topleftnav:link, a.topleftnav:active, a.topleftnav:visited {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

a#bbblink img:hover{
    margin-left: -100px;
}

#qtyCart{
    width: 25px;
    float:left;
    margin-right: 10px;
}