a           { text-decoration: none;  }
a:hover     { text-decoration: underline;  }
.ac         { text-align: center;  }
.al         { text-align: left;  }
.ar         { text-align: right;  }
.fl         { float: left;  }
.fr         { float: right;  }
.clear      { clear: both;  }
.overflow   { overflow: hidden;  }
.green_link { color: #6eb53e !important;  }
.semi_orange{ color: #908d22 !important;  }
.underline  { text-decoration: underline;  }
.black      { color: #53310d; font-weight: bold;  }
.hidden     { display: none;  }
.txt11px    {  font-size: 11px; }
.txt13px    {  font-size: 13px; }
img         { vertical-align: top;  }
body
{
    /*font-size: 12px;
    color: #555;
    font-family: arial; */
}

#main
{
    margin: 0 auto;
    width: 1298px;
}
/********header**********/
.header
{
    background: url(..) repeat;
    color: #fff;
    margin-top:20px;
}

/******body*****/
.body
{
    
}

/***footer******/
.footer
{
    background: url(..) repeat;
}

#header{
   /*background: none repeat scroll 0 0 gray;*/
   /*border: 1px dashed;*/
   /* height: 150px;  */
   /* width: 100%;*/
}

#bar-left{
   /* background: none repeat scroll 0 0 gray;
    border: 1px dashed;
    float: left;
    height: 741px;
    position: relative;
    width: 163px;*/

}

#bar-right{
  /*  background: none repeat scroll 0 0 gray;
    border: 1px dashed;
    float: left;
    height: 741px;
    position: relative;
    width: 163px; */

}
#container{
    float: left;
    height: 742px;
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 970px;
}
#content{
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 1300px;
}
#footer{
   /* background: none repeat scroll 0 0 gray;
    border: 1px dashed;
    height: 250px;
    width: 100%; */
}
#info_product .panel_right {
    float: left;
    width: 330px;
}
#info_product .panel_left {
    float: left;
    width: 330px;
}
#zoom1 img {
    height: 223px !important;
    position: relative;
    width: 200px !important;
}
#info_product .panel_left div .max_img {
    height: auto;
    margin: 55px auto 0;
    position: relative;
    width: 200px;
}
#info_product .panel_left .max_img {
    margin: 0 auto;
    text-align: center;
    width: 292px;
}
#containerFichaData {
    float: right;
    position: relative;
    text-align: left;
    width: 292px;
}
#containerFicha {
    height: auto;
    margin: 55px auto 0;
    padding: 0 28px 28px;
    position: relative;
    text-align: left;
    width: 400px;
}
#info_product .panel_left .other_images {
    margin-top: 46px;
    overflow: hidden;
}
#info_product .panel_left .other_images li {
    float: left;
    margin-right: 10px;
}
#info_product .panel_left .other_images li img {
    border: 1px solid #DAD6D2;
}
#content-lightbox{
    height: auto;
    width: 800px;;
}
#content-lightbox2{
    height: auto;
    width: auto;
}
#title_product{
    border: 1px dashed;
    color: black;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 24px;
    /*font-weight: bold;  */
}
#details{
    border: 1px dashed;
    /*height: 150px;*/
    /*width: 290px; */
}
.panel_message{
    height: 150px;
    margin: 0 auto;
    width: 400px;
}
#content_buttons{
    height: 50px;
    margin: 38px auto 0;
    width: 300px;
}
.go_checkout{
    color: white;
    font-size: 10px;
    position: relative;
    right: -7px;
    text-align: left;
    top: 6px;
}
#info_product2{

}
.shopping-content{
    overflow: hidden;
    height: 25px;
    width: 135px;
    background: url("../images/bot-add.png") repeat scroll left top transparent;
}
.checkout-content{
    margin-right: 12px;
    overflow: hidden;
    float: left;
    height: 25px;
    width: 135px;
    background: url("../images/bot-add.png") repeat scroll left top transparent;
}
#message_text{
    font-size: 14px;
    font-weight: bold;
    margin-top: 27px;
    text-align: center;
}
#addPedido{
    background: url("../images/bot-add.png") no-repeat scroll left top transparent;
    float: left;
    height: 21px;

    margin-left: 0;

    padding-left: 5px;
    padding-top: 5px;
    position: relative;
    text-align: left;
    width: 131px;
}
#add_to_cart{
    color:#ffffff;
}
#iframe-add{
    width: 450px;
    height: 300px;
}
#button-facebook{
    float: left;
    height: 25px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    width: 200px;
}
.facebook_comment  {
    float: left;
    margin-top: 30px;
    overflow-y: auto;
    position: relative;
}

.social_icons{
    overflow: hidden;
    position: relative;
    width: 390px;
}
.stButton .stLarge, .stButton .stLarge a{
    display: block !important;
    float: left !important;
    height: 30px !important;
    width: 30px !important;
}
.icos{
   /* margin-bottom: 20px;   */
    margin-top: 20px;
}
#printIcon{
    position: relative;
    top: -3px;
}
#comments {
    display: none;
    overflow: hidden;
}
.like{
    width: 200px;
    margin-top:15px;
}
#name-prod{
   font-size: 20px;
}
#price-prod{
  font-size: 23px;
    color: red;
}
#referencia{
    color: black;
    font-size: 10px;
    font-weight: bold;
}
#ref-prod{

}
#container{
    height:433px!important;
}
#details {
    background:url(../images/bg_addtocart_gradient.gif);
    border: none!important;
    height: auto;
    width: 400px;

}
#title_product{
    border:none!important;
}
#title_product sup{
    color: red;
}
#info_product .panel_right {
    float: left;
    width: 460px!important;
}
#containerFichaData {
    float: left;
    position: relative;
    text-align: left;
    width: 400px !important;
}
.shopping-content a{
    color: white;
    float: left;
    font-size: 9px;
    text-align: left;
}
.checkout-content a{
    color: white;
    float: left;
    font-size: 9px;
    text-align: left;
}

#introduction p{
    font-size: 11px;
    font-weight: bold;
    padding-right: 30px;
    font-family: Verdana,Arial,Verdana,Helvetica,sans-serif;
}
#addPedido a{
    font-size: 12px;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
#box_Lightbox{
    width: 420px!important;
    float:left;
}
.productItemTable {
    float: left;
    left: 0;
    margin: 0;
    padding: 16px 0;
    position: relative;
    top: 0;
    width: 380px;
}
.productItemTable table {
    border-bottom: 1px solid #D8D6D5;
    float: left;

    font-weight: bold;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    width: 370px;
}

.productItemTable  table tr th.first {
    background: url("../images/tableHeaderLeft.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D8D6D5;
    font-size: 0;
    line-height: 0;
    padding: 0;
    text-indent: -9999px;
    width: 4px;
}

.productItemTable table tr th {
    background: url("../images/tableHeaderMiddle.gif") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #D8D6D5;
    color: #484747;
    font-size: 9px;
    text-align: center;
}
.productItemTable table tr th.last {
    background: url("../images/tableHeaderRight.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #D8D6D5;
    font-size: 0;
    line-height: 0;
    padding: 0;
    text-indent: -9999px;
    width: 4px;
}
.productItemTable table tr td {
    background: none no-repeat scroll 0 0 #FFFFFF;
    font-size: 10px;
    padding: 4px;
    text-align: center;
}
.productItemTable select {
    border: 1px solid #B2B2B4;
    color: #595959;
    font-family: Arial,Sans-Serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 3px;
}
#Quantity{
    width: 20px;
}
.ddTitle{
    width: 50px;
}
#show_comments{
    display:none;
}