.box_alert {
	padding: 5px 10px;
	color: #cc0000;
	background-color: #ffffcc;
        font-weight: bold;
}

.reimport {
       font-size:11px;
       font-weight: normal;
       padding-left: 15px;
}


.tierarznei {
      font-size:10px;
      color: #000;
      margin-top: 4px;
      background-color: #FBE104;
      padding:2px;
}

#bestellungen {
     padding: 5px;
     font-size: 12px;
}


/*DefaulteinstellungStart*/

.rot {
  color: #CC0000;
}

.err_message
{
  border: 1px solid;
  border-color: #CF0C0C;
  background: #FF7F7F;
  width: 75%;
  color: #000000;
  margin-top:20px;
  margin-bottom:20px;
  padding: 10px;
}

/*Bestseller*/
.tab_start_bestseller
{
  background-image: url(pics/bg_topseller.gif);
  border: 1px solid #CECECE;
}

.head_start_bestseller
{
  font-weight: bold;
  color:#253E60;
}

LI.products_start_bestseller
{
  margin-left: -23px;  
  list-style-image: url(pics/nav_quadx_rund.gif);
  font-size: 10px;
  
}

UL.products_start_bestseller
{
  margin-top: 3px;  
}

/*Head-Navigation*/
#navigation
{
  float:right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/*Head-Navigation*/
#navigation
{
  float:left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#navigation li
{
  float: left;
  margin: 0px 1px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style: none;
  height: 65px;
  width: 104px;
  text-align: center;
  vertical-align: middle;
  background-image: url(pics/reiter01.gif);
}

#navigation a:link,
#navigation a:active,
#navigation a:visited
{
  padding-top: 20px;
  font-weight: bold;
  float: left;
  text-decoration: none;
  color: #FFFFFF;
  width: 103px;
  background-image: url(pics/reiter01.gif);
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
}

#navigation a:hover
{
  padding-top: 20px;
  background-repeat: no-repeat;
  font-weight: bold;
  color: #FFFFFF;
  background-image: url(pics/reiter02.gif);
  background-repeat: no-repeat;
  height: 65px;
  width: 103px;
  text-align: center;
  vertical-align: middle;
}

#navigation a.opera:hover
{
  height: 45px;
}

/*Standards*/ 
body
{
 /*margin-top:0;
 margin-left:0;
 margin-right:0;
 margin-bottom:0;*/
 font-family:Arial, Helvetica, sans-serif;
 font-size:10pt;
 color: #000000;
 text-decoration: none;
/*font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:Black;*/
}
a{text-decoration:none;color:#000000;}
a:hover	{color:Black;}
td{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.stdtext{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000; font-weight:normal;}
/*StandardsEnde*/ 

/*Individuell*/
.txtrot{color:#253E60;font-size:11px;}
.txthellrot{color:#D99D9D;font-size:11px;}
.txtweiss{color:#ffffff;font-size:11px;}
.txthellgrau{color:#232665;font-size:11px;}
.txthellgrauk{color:#232665;font-size:9px;}
.headline{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;color:#253E60;font-weight:bold;}
.headrubrik{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;}
.bold{font-weight:bold;}
.underline{text-decoration:underline;}
.boldunderline{font-weight:bold;text-decoration:underline;}
.bestseller{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	color:#253E60;
	font-weight:bold;
	text-align : right;
}
.preisdetail{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:14px;color:#253E60;font-weight:bold;}
.preisgross{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;color:#000000;}
.schritte{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;font-weight:bold;text-align:center;}
.shop_gesamt{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:#ffffff;font-weight:bold;}
.uebersicht{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.warenkorbrot{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;}
/*IndividuellEnde*/ 

/*Button*/
.button{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;font-weight:bold;}
.buttonk{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;font-weight:bold;}
.button_rot{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#253E60;}
/*ButtonEnde*/  

/*Menue*/
.menue{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;font-weight:bold;}
.menuerot{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;font-weight:bold;}
.menuesortiment{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#253E60;font-weight:bold;}
.menuerotnb{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13;color:#253E60;font-weight:bold;}
/*MenueEnde*/   

/*Seknav*/
.seknav{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;}
.seknavh{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
/*SeknavEnde*/   

/*Navigationseinstellungen*/
.menuenavigation{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;font-weight:bold;}
.menuenavigation1{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#253E60;}
.menuenavigation2{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#253E60;}
.menuenavigation3{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#253E60;}
/*NavigationseinstellungenEnde*/

/*Footer*/
.footertxt{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.footertxth{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;}
.footercopy{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:10px;color:#000000;}
.footercolor{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:10px;color:#000000;}
.footerunder{font-family:Arial,Verdana,Helvetica,sans-serif;font-size:10px;color:#000000;text-decoration:underline;}
.rechnungfooter{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#000000;font-weight:normal;}
/*FooterEnde*/   

/*Staffel*/
.staffel{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#000000;font-weight:normal;}
.staffelh{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:9px;color:#180871;font-weight:normal;}
/*StaffelEnde*/  

/*Varianten*/ 
.variant {color:#253E60;font-size:11px;}
.variant1{color:#111111;font-size:11px;}
.variant2{color:#222222;font-size:11px;}
.variant3{color:#333333;font-size:11px;}
.variant4{color:#444444;font-size:11px;}
.variant5{color:#555555;font-size:11px;}
.variant6{color:#666666;font-size:11px;}
/*VariantenEnde*/ 

/*UVP*/
.uvp1{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-align:center;}
.uvp2{font-family:Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-align:center; background-image:url(daten/durchstrich.gif);background-repeat:no-repeat;background-position:right;}
.uvp3{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#000000;text-align:center;}
.uvp4{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#FF0000;font-weight:bold;text-align:center;}
.uvp5{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#CC0000;font-weight:bold;text-align:center;}
.uvp6{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#CC0000;font-weight:bold;text-align:center;}
.uvp7{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#cc0000;text-align:center;}
.uvp8{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#cc0000;text-align:center;}
.uvp9{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#CC0000;font-weight:normal;text-align:center;}
/*UVPEnde*/       

/*Inputfelder*/
input.langer{width:130px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.langer2{width:130px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.plz{width:42px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.ort{width:80px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.preis{width:80px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.warenkorb{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;background-color:white;overflow:hidden;width:36px;text-align:right;}
input.warenkorb2{color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;background-color:white;overflow:hidden;width:24px;text-align:right;}
input.kredit1{width:38px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
input.kredit2{width:30px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;}
/*InputfelderEnde*/ 

/*Selectfelder*/
select.marke{width:180px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;overflow:hidden;}
select.anrede{width:100px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;overflow:hidden;}
select.portoland{width:130px;color:#000000;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;border-style:groove;background-color:white;overflow:hidden;}
.menuenavigation{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#253E60;font-weight:bold;}
/*SelectfelderEnde*/   

/*DefaulteinstellungEnde*/

.weissbold {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px; font-weight:bold;color:#FFFFFF;}
.dunkelblaubold {font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px; font-weight:bold; color:#253E60;}
.headknoepfe {text-decoration:underline; color:#253E60;}
.headwarenkorb {text-decoration:underline; color:#cc0000;}

textarea#Anmerkung {
	width: 100%;
	border: 1px solid #aaa;
}
textarea#Anmerkung.notification {
	background-color: #FFCDCD;
	border: 1px solid #D55B5B;
}

table.zusatzdaten td {
	width: 50%;
	padding: 5px 0;
}

div.ifap-ruler hr {
	border: 0;
	height: 1px;
	color: #7FB7E7;
	background-color: #7FB7E7;
}

div.ifap-titel {
	padding: 5px 0;
	cursor: pointer;
	font-weight: bold;
}

span.accordprefix {
	float: left;
	height: 10px;
	width: 20px;
	margin: 2px 0;
}

/* Mengenpfeile */

div.mengenpfeile {
	margin: 0;
	padding: 0 5px;
	width: 11px;
	float: right;
}

div.mengenpfeile img.plus {
	margin-bottom: 1px;
}

h2 {
        font-size: 11px;
}


/* Kundenmeinungen */

#kundenmeinungen {
	padding-top: 64px;
}
* html #kundenmeinungen {
	padding-top: 73px;
}
#kundenmeinungen .s,
#kundenmeinungen .f,
#kundenmeinungen .i {
	padding: 7px 15px;
	font-weight: bold;
}
#kundenmeinungen .i { background-color: #ffffc1; }
#kundenmeinungen .f { background-color: #fdc689; }
#kundenmeinungen .s { background-color: #c4df9b; }
.tabpanel * {
	margin: 0;
	padding: 0;
}
.tabpanel ul { 
	list-style: none;
}
.tabpanel li {
	padding: 3px 15px; 
	float: left;
	background-color: #EFF3F7;
}
.tabpanel .desc {
	font-size: 12px;
	padding: 3px 15px;
	border-top: 1px solid #fff;
	vertical-align: buttom;
}
.tabpanel .active {
	font-weight: bold;
	background-color: #bdcfdf;
}
.hinweis {
	padding: 15px;
	background-color: #fff7e7;
	border-top: 1px solid #7FB7E7;
}
.meinung {
	padding: 0;
	margin: 10px 15px 0 15px;
	border-bottom: 1px solid #7FB7E7;
}
.meinung h2 {
	margin: 0;
	font-size: 13px;
}
.meinung .details {
	color: #666;
	padding: 10px 0 10px 70px;
}
.meinung .hilfreich {
	margin: 10px 0;
}
.eigenemeinung {
	padding: 10px;
	margin-top: 20px;
	background-color: #EFF3F7;
}
.eigenemeinung h3 {
	margin: 0;
	padding: 5px;
	font-size: 12px;
}
.eigenemeinung label {
	font-weight: bold;
}
.eigenemeinung .field {
	width: 400px;
}
.eigenemeinung textarea.field {
	height: 100px;
}
.meinung_j,
.meinung_n {
	border: 0;
	height: 14px;
	text-indent: -999px;
	font-size: 0;
	cursor: pointer;
}
.meinung_j {
	width: 29px;
	background: url(pics/ja.jpg) no-repeat;
}
.meinung_n {
	width: 36px;
	background: url(pics/nein.jpg) no-repeat;
}
.title {
	color: #fff;
	font-weight: bold;
	background-color: #7FB7E7;	
}
.trennlinie {
	margin: 15px 0; 
	height: 3px; 
	background: transparent url(pics/linie_3_blau.gif) repeat-x center center;
}
.clear {
	clear: both;
	margin: 0;
	padding: 0;
}