#cartConfirm {

	border-top:5px solid blue;
	border-bottom:5px solid blue;
	width:400px;
	height: 75px;
	padding: 20px;
	font-size:16px;
	margin:15px;
}

#cartConfirm button {

	padding:10px;
	margin: 10px;
	width:150px;
	font-size:12px;

}


